<app-header></app-header>
<div style="max-width: 1400px;">

    <div class="container">
        <div class="d-flex justify-content-between mt-3 mb-3">
            <h2>Productos</h2>
            <button type="button" class="btn btn-dark" (click)="agregarProducto()">Agregar producto</button>
        </div>
        
        <div class="row">
            <div class="card col-sm-6 mb-3 mb-sm-0" *ngFor="let producto of productos">
                <img src="{{producto.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{producto.title}}</h5>
                    <p class="card-text">${{producto.price}}</p>
                    <a class="btn btn-primary" (click)="editarProducto(producto.id)">Editar</a>
                </div>
            </div>
        </div>
    </div>
    
    
</div>

<app-footer></app-footer>